.App {
  text-align: center;
  margin-bottom: 4em;
}

*:focus {
    outline: none;
}


.App-logo {
  /*animation: App-logo-spin infinite 3s linear;*/
  width: 65px;
  margin: 10px 20px 10px 20px;
  animation: fade-in 1s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

.button-toolbar {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.heart {
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
  animation: heart-pulse infinite 1s alternate, fade-in 1s;;
  margin: 0;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

.messages-container {
  width: 42em;
  margin-left: auto;
  margin-right: auto;
}

.message {
  height: 30px;
  width: 35em;
  border-radius: 50px;
  border-style: solid;
  border-width: 0px;
  padding-left: 1em;
  margin-right: 1em;
  display: inline-block;
  background-color: #ededed;
  font-size: 1em;
}

.frick {
  padding-top: 1em;
  padding-bottom: 1em;
  top: 0; left: 0;
  width: 100%; height: 100%;
  user-select: none;
}

.fromUser {
  color: white;
  background-color: #0dd80d;
  border-radius: 20px 0px 20px 20px;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: .75em;
  padding-right: .75em;
  margin-right: 5%;
  margin-left: 20%;
  margin-top: .75em;
  font-size: large;
  width: auto;
  height: auto%;
  display: inline-block;
  float: right;
  text-align: left;
}

.App-header {
  background-color: #222;
  height: auto;
  padding-bottom: 0.5em;
  color: white;
  position: relative;
  z-index: 0;
}

.App-title {
  font-size: 1.5em;
  animation: fade-in 1s;
}

.App-intro {
  background-color: lightgrey;
  border-radius: 0px 20px 20px 20px;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: .75em;
  padding-right: .75em;
  margin-right: 20%;
  margin-left: 5%;
  margin-top: 1em;
  font-size: large;
  width: auto;
  height: auto%;
  display: inline-block;
  float: left;
  text-align: left;
}

.App-intro-last {
  background-color: lightgrey;
  border-radius: 0px 20px 20px 20px;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: .75em;
  padding-right: .75em;
  margin-right: 20%;
  margin-left: 5%;
  margin-top: 1em;
  margin-bottom: 8em;
  font-size: large;
  width: auto;
  height: auto%;
  display: inline-block;
  float: left;
  text-align: left;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes heart-pulse {
  0% {
    height: 50px;
  }
  100% {
    height: 60px;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navbar2 {
    position: fixed; /* Set the navbar to fixed position */
    width: 100%;/* Full width */
    bottom: 0px;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    user-select: none;
    -moz-user-select: none;
}

.navbar:hover {
    background-color: #494949;
}

.lang-logo {
  height: 20px;
  padding: 5px 0px 0px 0px;
}
