.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 3s linear;*/
  height: 50px;
  margin: 10px;
}

.heart {
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
  animation: heart-pulse infinite .7s alternate;
}

#amerikuh {
  width: 90px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding-top: 2em;
  color: white;
}

.App-title {
  font-size: 1.5em;
  padding-top: .5em;
}

.App-intro {
  font-size: large;
  background-color: lightgrey;
  border-radius: 10px;
  margin: 20px 20px 20px 20px;
  padding: 10px 10px 10px 10px;
}

.Lotion-picture {
  height: auto;
  width: 400px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes heart-pulse {
  0% {
    height: 50px;
  }
  100% {
    height: 60px;
  }
}
